.registerPage {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgb(225, 54, 194);
    background: linear-gradient(
      220deg,
      rgba(225, 54, 194, 1) 0%,
      rgba(138, 76, 185, 1) 100%
    );
    position: relative;
  }

  .bulets1 {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 300px;
    height: 300px;
  }
  
  .bulets2 {
    position: absolute;
    top: 0;
    left: 0;
    width: 500px;
    height: 500px;
  }
  
  .bulets3 {
    position: absolute;
    top: 0;
    right: 0;
    width: 300px;
    height: 300px;
  }
  
  .bulets4 {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 450px;
    height: 450px;
  }

  @media only screen and (max-width: 500px){
    .bulets2{
      width: 50px;
      height: 50px;
    }
  }